/* Apply CSS reset to remove default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Create a grid container */
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr .25fr; /* Create four equal rows */
  grid-template-columns: 1fr; /* Single column */
  height: 100vh; /* Make the container full height of the viewport */
}

/* Define styles for each grid area */
.grid-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1; /* Example background color */
  padding: 20px; /* Example padding */
  border: 1px solid #ccc; /* Example border */
}

/* Styles for the text elements */
.grid-area span {
  margin: 20px 0; /* Adjust vertical spacing as needed */
}

/* Specify which grid area each item should occupy */
.short {
  grid-row: 1 / span 1; /* Start at row 1 and span 1 row */
}

.medium {
  grid-row: 2 / span 1; /* Start at row 2 and span 1 row */
}

.long {
  grid-row: 3 / span 1; /* Start at row 3 and span 1 row */
}

.submit {
  grid-row: 4 / span 1; /* Start at row 4 and span 1 row */
}




.buttons button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  margin: 0 2rem;
  font-size: 2em;
  box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
  cursor: pointer;
}

.buttons button:focus{
  outline: 0;
}