/*  App.css  */


/* Apply CSS reset to remove default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Create a grid container */
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr .25fr; /* Create four equal rows */
  grid-template-columns: 1fr; /* Single column */
  height: 100vh; /* Make the container full height of the viewport */
}

/* Define styles for each grid area */
.grid-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10; /* Example padding */
  transform: scale(0.85); /* Reduce overall size by 25% */
  text-align: center
}

/* Styles for the text elements */

.grid-area h4 {
  margin: 10px 0; /* Adjust vertical spacing as needed */
}

.grid-area h2 {
  margin: 0; /* Remove top and bottom margin for h2 */
}

.grid-area span {
  margin: 10px 0; /* Adjust vertical spacing as needed */
}

/* Specify which grid area each item should occupy */
.short {
  grid-row: 1 / span 1; /* Start at row 1 and span 1 row */
}

.medium {
  grid-row: 2 / span 1; /* Start at row 2 and span 1 row */
}

.long {
  grid-row: 3 / span 1; /* Start at row 3 and span 1 row */
}

.submit {
  grid-row: 4 / span 1; /* Start at row 4 and span 1 row */
}


.buttons button {
  width: 2rem; /* Reduce button size proportionally */
  height: 2rem; /* Reduce button size proportionally */
  border-radius: 50%;
  border: none;
  margin: 0 1.75em; /* Adjust button margin as needed */
  font-size: 1.25em; /* Reduce button font size */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2), 0 6px 24px rgba(0, 0, 0, 0.1); /* Modify the rgba values to make the shadow darker */
  cursor: pointer;
}

.buttons button:focus{
  outline: 0;
}

.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-item span {
  display: block; 
  margin-bottom: 5px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 11px;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn-delete {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}